<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= note.content %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= note.level %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= note.datetime %>
  </p>

</div>
